body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: #d8d8d8;
    margin: 0;
    display: flex;
}
#container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative; /* Для коректної роботи позиціонування кнопки */
}
#sidebar {
    width: 40%;
    background-color: #3e3e3e;
    color: #f5f5f5;
    padding: 20px;
    transition: width 0.3s ease, opacity 0.3s ease;
    margin-top: 40px; /* Відступ від верхнього краю сторінки */
}

/* Згорнуте меню (повне приховування) */
#sidebar.collapsed {
    width: 0;
    opacity: 0;
    pointer-events: none;
    padding: 0px;
    margin-top: 0px;
}

/* Кнопка для згортання розташовується окремо */
#toggle-sidebar {
    background-color: #0E0E0E;
    color: #A7BED3;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 20px; /* Визначаємо розташування кнопки згортання в верхній частині */
    left: 20px;
    z-index: 100; /* Кнопка буде поверх панелі */
}

#toggle-sidebar:hover {
    background-color: #0E0E0E;
}

#content {
    margin: 20px auto; /* Центрування на великих екранах */
    flex-grow: 1;
    padding: 20px;
    background-color: #262525;
    color: #d8d8d8;
    border-radius: 8px;
    margin-top: 40px; /* Відступ для контенту, щоб не перекривати кнопку */

    width: 100%; /* За замовчуванням займає всю ширину */
    max-width: 90%; /* Для мобільних пристроїв */
}
#edit-names, #back-to-home {
    background-color: #ffeb3b;
    color: #3e3e3e;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
}

#edit-names:hover, #back-to-home:hover {
    background-color: #ff9800;
}

#back-to-home {
    background-color: #ffeb3b;
}

h1, h2 {
    color: #ffeb3b;
}
a {
    color: #f5f5f5;
    text-decoration: none;
}
a:hover {
    color: #ffb74d;
}

[data-name] {
    color: #ffeb3b;
    /*font-weight: bold;*/
}

[character-name] {
    color: #ffef5f;
    /*font-weight: bold;*/
}

/* Для великих екранів */
@media (min-width: 1024px) {
    #content {
        max-width: 50%; /* Зменшення ширини до 60% */
    }
}